.work-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 40rem;
  padding: 3.2rem;
  border-radius: 8px; 
  transition: .4s;

  @media (max-width: 1330px) {
    max-width: 100%;
  }

  &:last-child {
    @media (max-width: 1330px) {
      grid-column: 1 / -1;
    }
  }

  &__title {
    font-size: 4.2rem;
    font-weight: 500;
  }

  &__description {
    flex-grow: 1;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 2.4rem 0 4rem 0;
    padding-right: 1.6rem;
    color: var(--light-gray);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    align-self: flex-end;
    font-size: 1.4rem;
    padding: .8rem 1rem;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 8px;
    transition: .3s;
    &:hover {
      svg {
      color: var(--primary-color);
        transform: translateX(5px);
      }
    }

    svg {
      width: 2rem;
      height: 2rem;
      transition: .2s;
    }
  }
}