.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 3rem;


  .col-1 {
    grid-column: 1 / 5;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);

  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 13;
    color: var(--gray);
    font-size: 1.6rem;
    border-right: 1px solid var(--gray);
    padding: 2rem;
  }
}