* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 62.5%;
  overflow-x: hidden;

  --primary-color: #f0fb3b;
  --font-color: #eeeeee;
  --gray: #3b3b3b;
  --light-gray: #868e96;
  --background: #000000;

  --gradient-dark: rgba(0,0,0,1);
  --gradient-light: rgba(32,32,32,1);

  --pattern-opacity: 0.4;
  --filter: invert(1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 590px) {
    font-size: 58%;

  }
}

body {
  min-width: 320px;
  min-height: 100vh;

  
  background-color: var(--background);
  color: var(--font-color);
}

::selection {
  color: var(--gray);
  background: var(--primary-color);
}

.center {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

/* For Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--gray) var(--background);
}